:host {
  display: block;
  margin-top: 1rem;
}

body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 100%;
  /*margin: 5em auto;*/
  padding: 0;
}


#left, #right {
  height: 80px;
}
