mat-form-field,
textarea {
  width: 100%;
}

.card {
  background-color: rgba(221, 221, 221, 0.342);
}
.btn {
  background-color: rgba(13, 22, 48, 0.377);
  font-weight: 500;
  color: rgb(212, 201, 201);
}
