

<form (submit)='handleLogin(factForm)' #factForm='ngForm' class="login-form">
    <mat-form-field class="login-full-width">
        <input matInput
        rows='4'
        name='email'
        ngModel
        required
        minlength='4'
        placeholder='Email'
        type='email'
        #email='ngModel'>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <input matInput
      rows='4'
      name='password'
      ngModel
      required
      minlength='4'
      placeholder='Password'
      type='password'
      #password='ngModel'>
    </mat-form-field>
    <button
        class='btn'
        mat-raised-button
        type='submit'>
        Login
      </button>
  </form>
