.card {
  height: 350px;
  margin-bottom: 2%;
  background-color: rgba(141, 138, 138, 0.842);
}

.toolbar {
  margin-bottom: 2%;
  background-color: rgba(1, 1, 2, 0.5);
}

.btn {
  margin-right: +1em;
  font-weight: 500;
  background-color: rgb(36, 30, 30);
  color: rgba(255, 255, 255, 0.493);
}
.btn:focus {
  background-color: rgba(141, 138, 138, 0.842);

}
