body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
}

.facts {
  min-width: 400px;
  max-height: 300px;
  justify-content: center;
  margin: 2em auto;
}

.fact {
  display: flex;
  height: 250px;
  width: 85%;
  background-color: #c7966ed8;
  border-radius: 10px;
  box-shadow: -1rem 0 1rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  /*position: relative;
  left: 0px;*/
}

.fact:not(:first-child) {
    margin-left: -50px;
}

.fact:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.fact:hover ~ .fact {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.text {
  color: rgba(255, 255, 255, 0.904);
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 40px;
}

.mtBtn {
  border: solid 1px;
  border-color: rgb(255, 0, 0);
  /* background-color: white; */
  top: 80%;
  right: -135px;
}

.name {
  color: rgba(0, 0, 0, 0.808);
  font-weight: 500;
  background-color: rgba(192, 192, 192, 0.651);
  position: relative;
  /* bottom: 220px; */
  right: -135px;
  transition: 0.4s ease-out;
}

